@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;700;800&display=swap');

* {
  font-family: 'Inter', sans-serif;
}

body {
  margin: 1rem;
}
#root {
  width: 100%;
}

#root {
  max-width: 1140px;
  margin: 0 auto;
}

.nav-links a:hover {
  color: orange;
}

.menu {
  display: none;
  position: absolute;
  right: 0.5rem;
  top: 0.75rem;
  width: 2rem;
  height: 2rem;
  flex-direction: column;
  justify-content: space-between;
}

.menu span {
  width: 100%;
  border-radius: 10px;
  background-color: grey;
  height: 0.4rem;
}
.nav-links ul {
  display: flex;
}

header section {
  padding-top: 1.5rem;
  font-weight: 800;
}

@media (max-width: 900px) {
  .menu {
    display: flex;
    cursor: pointer;
    z-index: 1;
  }

  .nav-links ul.open {
    position: fixed;
    display: flex;
    justify-content: flex-start;
    background-color: #fef7e5;
    width: 60%;
    height: 100vh;
    transition: all 0.3s ease-in;
    right: 0;
    top: 0;
    z-index: 0;
  }
  .nav-links ul {
    display: none;
    flex-direction: column;
    align-items: start;
    padding: 4rem 1rem;
    align-self: flex-end;
    width: 70%;
    height: 100%;
  }

  .nav-links ul a {
    margin-right: unset;
    margin-top: 22px;
  }

  .header-img {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    block-size: 300px;
  }
}
